/*-- scss:rules --*/

.long-quote {
    background-color: $gray-100;
    padding-left: 10px;
    padding-right: 10px;

}


.plot-d6a7b5 {
    overflow: visible;
}

.observablehq {
    justify-content: center;
    display: grid;
}



.link {
  fill: none;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
